.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.Task-App {
  min-height: 75vh;
  height: 75vh;
  min-width: 60vw;
  width: 60vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.Task-App * {
  margin: 0;
}

.task-app-content {
  display: flex;
  height: 100%;
}

.task-list {
  width: 30%;
  border-right: 1px solid lightgray;
  background-color: #fafafa;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task-list-element {
  border-bottom: 1px solid lightgray;
  padding: 5px 10px;
}
.task-list-element:hover {
  background-color: whitesmoke;
}
.task-list-element.active {
  background-color: #e0e1e2;
}

.task-list-element h1 {
  font-size: 18px;
}

.task-list-element p {
  font-size: 14px;
}

.task-list-element:hover {
  cursor: pointer;
}

.task-content{
  width: 70%;
  position: relative;
}

.task-content-main{
  padding: 5px 10px;
}

.task-content-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 11px;
}

.task-content-functions {
  display: flex;
  justify-content: flex-end;
  background-color: whitesmoke;
}

.task-content-status {
  display: flex;
  justify-content: flex-end;
  background-color: lightgray;
}

.task-content-functions > *, .task-content-status > * {
  padding: 5px 10px;
}

.list-picker{
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.list-picker-element{
  font-size: 18px;
  padding: 5px 5px;
  background-color: silver;
  border-top-right-radius: 10px;
  font-weight: bold;
  margin-right: 2px;
  cursor: pointer;
}
